body {
    background-color: #333;
    color: #bbb;
}

p, ul, ol, li, dl, dt { font-size: 1.5rem; }
h1 { font-size: 4rem; }
h2 { font-size: 3.5rem; }
h3 { font-size: 3rem; }

p, h1, h2, h3, li {
    font-family: sans-serif;
}

pre, tt, code {
    font-size: 1.2rem;
    color: #aaf;
}

a {
    color: #88f
}

div.step {
    overflow: hidden;
}
